* {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.nav-link {
    font-size: 18px;
    font-weight: 500;
    color: #587291;
}

#line {
    color: #009fb7;
}

#profile-hello {
    font-size: 18px;
    font-weight: 500;
    color: #009fb7;
}

#profile-name {
    font-size: 46px;
    font-weight: 700;
    color: #2d3047;
}

#profile-desc {
    font-size: 18px;
    font-weight: 500;
    color: #504a4a;
}

#button-download-cv {
    font-size: 15px;
    color: #ffff;
    background-color: #009fb7;
}

#button-hire {
    font-size: 15px;
    color: #ffff;
    background-color: #009fb7;
}

#profile-social {
    font-size: 14px;
    font-weight: 500;
    color: #504a4a;
}

/* Skill */
#background-2 {
    background-color: #f5ffff;
}

#skill-title {
    font-size: 46px;
    font-weight: 700;
    color: #2d3047;
}

#skill-card {
    background: rgba(0, 159, 183, 0.25);
    box-shadow: 0 8px 32px 0 #f5ffff;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}

#card-title-skill {
    font-size: 24px;
    font-weight: 500;
    color: #2d3047;
}

#card-text-skill {
    font-size: 14px;
    color: #2d3047;
}

#language_tools {
    font-size: 24px;
    font-weight: 500;
    color: #2d3047;
}

/* myproject */
#myproject-title {
    font-weight: 700;
    font-size: 46px;
    color: #2d3047;
}

/* contact */
#contact-title {
    font-weight: 700;
    font-size: 46px;
    color: #2d3047;
}

#contact-text {
    font-size: 20px;
    font-weight: 500;
    color: #504a4a;
}

#button-message {
    font-size: 15px;
    color: #ffff;
    background-color: #009fb7;
}
